*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

header{
    padding: 40px;
}
.logo{
    width: 160px;
    margin-left: 5%;
}
.menu a{
    color: #7ABCE8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    padding-top: 55px;
    padding-left: 10px;
    transition: 0.3s;
  }
.menu a:hover{
    opacity: 0.7;

}

.img1{
  display: block;
}

* {
    box-sizing: border-box;
  }  

  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
}
@media (max-width: 999px) {
  .menu a {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

