*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

header{
    padding: 40px;
}
.logo{
    width: 160px;
    margin-left: 5%;
}
.menu a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    padding-top: 55px;
    padding-left: 10px;
    transition: transform 0.3s, color 0.3s;
  }
.menu a:hover{
    color: #7ABCE8;
    transform: scale(1.1);
}

.img1{
  display: block;
}

* {
    box-sizing: border-box;
  }  

  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

