*{
    margin: 0;
    padding: 0;
  }
header{
    padding: 40px;
}
.logo{
    width: 120px;
    margin-left: 5%;
}
.menu a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    padding-top: 55px;
    padding-left: 10px;
  }
.menu a:hover{
    color: #108f49;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column img {
  margin-top: 12px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer{
    position: static;
    text-align: center;
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #66976f;
  }
.contato {
    padding: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Belanosima';
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
  }
.contato p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}