*{
    margin: 0;
    padding: 0;
  }
  header{
      padding: 40px;
  }
  .logo{
      width: 160px;
      margin-left: 5%;
  }
  .menu a{
      color: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      float: right;
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 20px;
      padding-top: 55px;
      padding-left: 10px;
      transition: transform 0.3s, color 0.3s;
    }
  .menu a:hover{
      color: #7ABCE8;
      transform: scale(1.1);
  }
  .entrev{
    color: black;
    padding: 30px;
    font-family: 'Belanosima';
    font-size: 25px;
    text-align: left;
    padding-left: 95px;
    padding-bottom: 50px;
 }
 .entrev p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
  .footer{
    position: static;
    text-align: center;
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3F803A;
  }
  .contato {
    padding: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Belanosima';
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
  }
  .contato p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }